<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Stackly - App Landing, Ai & Software Business Html Template" />

  <title>Stackly - App Landing, Ai & Software Business Html Template</title>

  <!-- Fav Icon -->
  <link rel="icon" type="image/x-icon" href="assets/imgs/logo/favicon.png" />


  <!-- Dependencies CSS Files -->
  <link rel="stylesheet" href="assets/vandor/bootstrap/bootstrap.min.css" />
  <link rel="stylesheet" href="assets/vandor/fontawesome/fontawesome-pro.min.css" />
  <link rel="stylesheet" href="assets/vandor/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="assets/vandor/menu/meanmenu.min.css" />
  <link rel="stylesheet" href="assets/vandor/popup/magnific-popup.css" />
  <link rel="stylesheet" href="assets/vandor/nice-select/nice-select.css" />
  <link rel="stylesheet" href="assets/vandor/odometer/odometer-theme-default.css">
  <link rel="stylesheet" href="assets/vandor/animation/aos.css">

  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="assets/css/style.css" />
</head>

<body>
  <div class="loader-wrap">
    <svg viewBox="0 0 1000 1000" preserveAspectRatio="none">
      <path id="svg" d="M0,1005S175,995,500,995s500,5,500,5V0H0Z"></path>
    </svg>

    <div class="loader-wrap-heading">
      <div class="load-text">
        <span>s</span>
        <span>t</span>
        <span>a</span>
        <span>c</span>
        <span>k</span>
        <span>l</span>
        <span>y</span>
      </div>
    </div>
  </div>

  <!-- Sroll to top -->
  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
    </svg>
  </div>

  <!-- side toggle start -->
  <aside class="fix">
    <div class="side-info">
      <div class="side-info-content">
        <div class="offset-widget offset-header">
          <div class="offset-logo">
            <a href="index.html">
              <img class="show-light" src="assets/imgs/logo/logo-3.svg" alt="site logo" />
            </a>
          </div>
          <button id="side-info-close" class="side-info-close">
            <i class="fas fa-times"></i>
          </button>
        </div>
        <div class="mobile-menu d-xl-none fix"></div>
        <div class="offset-button">
          <a href="contact.html" class="rr-btn">
            <span class="btn-wrap">
              <span class="text-one">Let's Talk</span>
              <span class="text-two">Let's Talk</span>
            </span>
          </a>
        </div>
        <div class="offset-widget-box">
          <h2 class="title">Contact US</h2>
          <div class="contact-meta">
            <div class="contact-item">
              <span class="icon"><i class="fa-solid fa-location-dot"></i></span>
              <span class="text">3891 Ranchview Dr. Richardson</span>
            </div>
            <div class="contact-item">
              <span class="icon"><i class="fa-solid fa-envelope"></i></span>
              <span class="text"><a href="mailto:hello@Archidex.com">hello@Archidex.com</a></span>
            </div>
            <div class="contact-item">
              <span class="icon"><i class="fa-solid fa-phone"></i></span>
              <span class="text"><a href="tel:(505)555-0125">(505) 555-0125</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>
  <div class="offcanvas-overlay"></div>
  <!-- side toggle end -->

  <div class="has-smooth" id="has_smooth"></div>
  <div id="smooth-wrapper">
    <div id="smooth-content">
      <!-- Header area start -->
      <header class="header-area-1">
        <div class="header-main">
          <div class="container rr-container-1800">
            <div class="header-area-1__inner">
              <div class="header__logo">
                <a href="index.html">
                  <img src="assets/imgs/logo/logo.svg" class="normal-logo" alt="Site Logo" />
                </a>
              </div>
              <div class="header__nav">
                <nav class="main-menu">
                  <ul>
                    <li class="menu-item-has-children">
                        <a href="#">Home</a>

                        <ul class="dp-menu column-2">

                            <li>
                                <a href="{{ url('/') }}">Payment Gateway</a>
                            </li>

                            <li>
                                <a href="#">AI Content</a>
                            </li>

                            <li>
                                <a href="#">CRM</a>
                            </li>

                            <li>
                                <a href="#">App Landing</a>
                            </li>

                            <li>
                                <a href="#">Data Analytics</a>
                            </li>

                        </ul>
                    </li>

                    <li><a href="about.html">About Us</a></li>
                    <li class="menu-item-has-children">
                      <a href="#">Service</a>
                      <ul class="dp-menu">
                        <li><a href="service.html"> Services</a></li>
                        <li><a href="service-details.html"> Services Details</a></li>
                      </ul>
                    </li>
                    <li class="menu-item-has-children">
                      <a href="#">Blog</a>
                      <ul class="dp-menu">
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="blog-standard.html">Blog Standard</a></li>
                        <li><a href="blog-details.html">Blog Details</a></li>
                      </ul>
                    </li>
                    <li class="menu-item-has-children">
                      <a href="#">Pages</a>
                      <ul class="dp-menu">
                        <li><a href="pricing.html">pricing</a></li>
                        <li><a href="faq.html">Faq</a></li>
                        <li><a href="cart.html">cart Page</a></li>
                        <li><a href="checkout.html">checkout Page</a></li>
                        <li><a href="shop.html">shop Page</a></li>
                        <li><a href="shop-details.html">shop Details Page </a></li>
                        <li><a href="sing-in.html">Sing In Page </a></li>
                        <li><a href="sing-up.html">Sing Up Page </a></li>
                        <li><a href="404.html">Error </a></li>
                      </ul>
                    </li>
                    <li><a href="contact.html">contact us</a></li>
                  </ul>
                </nav>
              </div>
              <div class="header-right">

                <div class="search-wrap">
                  <button class="search"><i class="fa-regular fa-magnifying-glass"></i></button>
                </div>
                <a href="contact.html" class="rr-btn-green">
                  <span class="btn-wrap">
                    <span class="text-one">Get Started</span>
                    <span class="text-two">Get Started</span>
                  </span>
                </a>

                <div class="header__navicon d-xl-none">
                  <div class="side-toggle">
                    <a class="bar-icon" href="javascript:void(0)">
                      <span></span>
                      <span></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- Header area end -->
      <main>

        <section class="hero">
          <div class="hero__inner " data-background="assets/imgs/home-1/hero/bg.png">
            <img class="shape-6" src="assets/imgs/home-1/hero/shape.png" alt="image">
            <div class="container rr-container-1350">
              <div class="row">
                <div class="col-xl-6">
                  <div class="hero__media">
                    <img class="shape-1 " data-aos="zoom-in" data-aos-duration="900"
                      src="assets/imgs/home-1/hero/phone.png" alt="image">
                    <img class="shape-2 shape-animaiton1" src="assets/imgs/home-1/hero/shape-2.png" alt="image">
                    <img class="shape-3 shape-animaiton1" src="assets/imgs/home-1/hero/shape-3.png" alt="image">
                    <img class="shape-4 shape-animaiton1" src="assets/imgs/home-1/hero/shape-4.png" alt="image">
                    <img class="shape-5 shape-animaiton1" src="assets/imgs/home-1/hero/card.png" alt="image">
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="hero__content" data-aos="fade-right" data-aos-duration="900">
                    <div class="hero__content__author">
                      <ul>
                        <li><img src="assets/imgs/home-1/hero/author-1.png" alt="img"></li>
                        <li><img src="assets/imgs/home-1/hero/author-2.png" alt="img"></li>
                        <li><img src="assets/imgs/home-1/hero/author-3.png" alt="img"></li>
                      </ul>
                      <p>Join 3 million other users on waitlist</p>
                    </div>
                    <h1 class="title rr-title-anim-2">Connecting Businesses with Global Payments</h1>
                    <p class="desc">We bridge the gap between businesses and customers worldwide, enabling secure,
                      seamless, and fast transactions that fuel growth, trust, and global opportunities in the digital
                      marketplace.</p>

                    <div class="hero__content-wrap">
                      <a href="contact.html" class="rr-btn-green">
                        <span class="btn-wrap">
                          <span class="text-one">Get Started</span>
                          <span class="text-two">Get Started</span>
                        </span>
                      </a>
                      <a href="service.html" class="rr-btn-green green-2">
                        <span class="btn-wrap">
                          <span class="text-one">Explore Features</span>
                          <span class="text-two">Explore Features</span>
                        </span>
                      </a>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="brand-1 section-spacing-top-100">
          <div class="container rr-container-1350">
            <div class="section-title__wrapper">
              <h2 class="title rr-title-anim-1">Stackly Trusted By18+M Peoples</h2>
            </div>
            <div class="swiper brand-1__active">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="brand-1__item">
                    <img src="assets/imgs/home-1/brand/brand-1.png" alt="image">
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="brand-1__item">
                    <img src="assets/imgs/home-1/brand/brand-2.png" alt="image">
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="brand-1__item">
                    <img src="assets/imgs/home-1/brand/brand-3.png" alt="image">
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="brand-1__item">
                    <img src="assets/imgs/home-1/brand/brand-4.png" alt="image">
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="brand-1__item">
                    <img src="assets/imgs/home-1/brand/brand-5.png" alt="image">
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="brand-1__item">
                    <img src="assets/imgs/home-1/brand/brand-1.png" alt="image">
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="brand-1__item">
                    <img src="assets/imgs/home-1/brand/brand-2.png" alt="image">
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="brand-1__item">
                    <img src="assets/imgs/home-1/brand/brand-3.png" alt="image">
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="brand-1__item">
                    <img src="assets/imgs/home-1/brand/brand-4.png" alt="image">
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="brand-1__item">
                    <img src="assets/imgs/home-1/brand/brand-5.png" alt="image">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="features-1 section-spacing-top-120 rr-ov-hidden">
          <div class="container rr-container-1350">
            <div class="row">
              <div class="col-xl-8">
                <div class="features-1">
                  <div class="features-1__content" data-aos="fade-right" data-aos-duration="900">
                    <div class="section-title__wrapper">
                      <h2 class="sub-title">Stackly Pay</h2>
                      <h2 class="title rr-title-anim-1">Seamless Payments <br> with Stackly Pay</h2>
                      <p class="desc">Stackly Pay simplifies international transactions with speed, security, and
                        flexibility,
                        empowering businesses to accept in payments globally.</p>

                      <a href="about.html" class="rr-btn-green">
                        <span class="btn-wrap">
                          <span class="text-one">Learn More</span>
                          <span class="text-two">Learn More</span>
                        </span>
                      </a>
                    </div>
                    <div class="features-1__shape-1 shape-animaiton1" data-aos="fade-down-left" data-aos-duration="900">
                      <img src="assets/imgs/home-1/features/hand-shape.png" alt="image">
                    </div>
                    <div class="features-1__shape-2 rotate"><img src="assets/imgs/home-1/features/line-shape.png"
                        alt="image">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-4">
                <div class="features-1__wrapper">
                  <div class="features-1__item" data-aos="fade-up" data-aos-duration="500">
                    <span><img src="assets/imgs/home-1/features/icon-1.png" alt="image"></span>
                    <div class="text">
                      <h2 class="title">Advanced Security</h2>
                      <p>End-to-end encryption and fraud protection</p>
                    </div>
                  </div>
                  <div class="features-1__item" data-aos="fade-up" data-aos-duration="700">
                    <span><img src="assets/imgs/home-1/features/icon-2.png" alt="image"></span>
                    <div class="text">
                      <h2 class="title">Global Reach</h2>
                      <p>Accept payments in multiple currencies worldwide</p>
                    </div>
                  </div>
                  <div class="features-1__item" data-aos="fade-up" data-aos-duration="900">
                    <span><img src="assets/imgs/home-1/features/icon-3.png" alt="image"></span>
                    <div class="text">
                      <h2 class="title">Multiple Options</h2>
                      <p>Credit cards, digital wallets, bank transfers & more</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="service rr-bg-gray section-spacing rr-ov-hidden">
          <div class="container rr-container-1350">
            <div class="section-title__wrapper text-center" data-aos="fade-up" data-aos-duration="700">
              <h2 class="sub-title">Our Payment Services</h2>
              <h2 class="title rr-title-anim-1">One Gateway, Many Services</h2>
            </div>
            <div class="swiper service-slide__active" data-aos="fade-up" data-aos-duration="900">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="service__item">
                    <span class="icon"><img src="assets/imgs/home-1/service/icon-1.png" alt="image"></span>
                    <h3 class="title"><a href="service-details.html">Global Payment Processing</a></h3>
                    <p class="desc">Accept payments from anywhere in the world.</p>
                    <span class="service">Service _ 01</span>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="service__item">
                    <span class="icon"><img src="assets/imgs/home-1/service/icon-2.png" alt="image"></span>
                    <h3 class="title"><a href="service-details.html">Multi-Currency Support</a></h3>
                    <p class="desc">Handle transactions in multiple international currencies.</p>
                    <span class="service">Service _ 02</span>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="service__item">
                    <span class="icon"><img src="assets/imgs/home-1/service/icon-3.png" alt="image"></span>
                    <h3 class="title"><a href="service-details.html">Prevent fraud with AI Technology</a></h3>
                    <p class="desc">Detect and stop fraudulent activities instantly with advanced </p>
                    <span class="service">Service _ 03</span>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="service__item">
                    <span class="icon"><img src="assets/imgs/home-1/service/icon-1.png" alt="image"></span>
                    <h3 class="title"><a href="service-details.html">50% lower processin cost</a></h3>
                    <p class="desc">Real-time, reliable payment processing.</p>
                    <span class="service">Service _ 04</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="service__arrow">
              <button class="service__arrow-prev"> <i class="fa-solid fa-angle-left"></i></button>
              <div class="service-pagination"></div>
              <button class="service__arrow-next"><i class="fa-solid fa-angle-right"></i></button>

            </div>
          </div>
        </section>

        <section class="choose-us">
          <div class="choose-us__inner section-spacing">
            <div class="container rr-container-1350">
              <div class="row">
                <div class="col-xl-6">
                  <div class="choose-us__content">
                    <div class="section-title__wrapper">
                      <h2 class="sub-title has--green" data-aos="fade-up" data-aos-duration="500">Smarter Way to Pay
                      </h2>
                      <h3 class="title rr-title-anim-1" data-aos="fade-up" data-aos-duration="900">Powering Payments
                        with Confidence</h3>
                      <p class="desc" data-aos="fade-up" data-aos-duration="900">Stackly Pay delivers secure, seamless,
                        and reliable transactions with advanced
                        protection and global reach, empowering businesses to build trust, scale faster, and grow
                        confidently worldwide.</p>

                      <a href="contact.html" class="rr-btn-green has--drk-gren" data-aos="fade-up"
                        data-aos-duration="900">
                        <span class="btn-wrap">
                          <span class="text-one">get app download</span>
                          <span class="text-two">get app download</span>
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="choose-us__media" data-aos="fade-up" data-aos-duration="900">
                    <img class="image-1" src="assets/imgs/home-1/choose-us/choose-1.jpg" alt="image">
                    <img class="image-2" src="assets/imgs/home-1/choose-us/choose-2.png" alt="image">
                    <img class="image-3" src="assets/imgs/home-1/choose-us/choose-3.png" alt="image">
                    <img class="image-4" src="assets/imgs/home-1/choose-us/icon-1.png" alt="image">
                    <img class="image-5" src="assets/imgs/home-1/choose-us/icon-2.png" alt="image">

                    <div class="rotation-container">
                      <div class="ring ring1"></div>
                      <div class="ring ring2"></div>
                      <div class="ring ring3"></div>
                      <div class="dot"></div>
                    </div>

                  </div>
                </div>
              </div>
              <div class="choose-us__wrapper">
                <div class="row">
                  <div class="col-md-6 col-lg-4">
                    <div class="choose-us__item" data-aos="fade-right" data-aos-duration="900">
                      <h2 class="title"><span class="icon"><img src="assets/imgs/home-1/choose-us/icon-3.png"
                            alt="image"></span><a href="contact.html">Lightning-Fast Transactions</a></h2>
                      <p> Experience instant, reliable payments designed to keep your business.</p>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-4">
                    <div class="choose-us__item" data-aos="fade-up" data-aos-duration="900">
                      <h2 class="title"><span class="icon"><img src="assets/imgs/home-1/choose-us/icon-4.png"
                            alt="image"></span><a href="contact.html"> Bank-Grade Security</a></h2>
                      <p> Protecting every transaction with advanced encryption and fraud.</p>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-4">
                    <div class="choose-us__item" data-aos="fade-left" data-aos-duration="900">
                      <h2 class="title"><span class="icon"><img src="assets/imgs/home-1/choose-us/icon-5.png"
                            alt="image"></span><a href="contact.html">Trusted by Businesses</a></h2>
                      <p> Thousands of businesses worldwide rely on Stackly Pay for secure</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="control-plan section-spacing-top-120">
          <div class="container rr-container-1350">
            <div class="row">
              <div class="col-xl-3">
                <div class="control-plan__left" data-aos="fade-right" data-aos-duration="900">
                  <div class="control-plan__left-icon">
                    <h2 class="title">We Mnetioned your business on X</h2>
                    <a href="https://www.facebook.com/"><i class="fa-solid fa-s"></i></a>
                    <img class="line-1" src="assets/imgs/home-1/control-plan/line-1.png" alt="image">
                  </div>

                  <div class="control-plan__left-icon icon-2">
                    <img class="dot-shape" src="assets/imgs/home-1/control-plan/dot-shape.png" alt="image">
                    <a href="https://x.com/"><i class="fa-brands fa-x-twitter"></i></a>
                    <img class="line-2" src="assets/imgs/home-1/control-plan/line-2.png" alt="image">
                  </div>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="section-title__wrapper text-center" data-aos="fade-up" data-aos-duration="700">
                  <h2 class="sub-title">Take Control in Real Time</h2>
                  <h2 class="title rr-title-anim-1">Real-Time Dashboard for Smarter Payments</h2>
                </div>
                <div class="control-plan__wrapper" data-aos="fade-up" data-aos-duration="900">
                  <div class="control-plan__item">
                    <h2 class="title"><span class="odometer" data-count="50">0</span>%</h2>
                    <p>Transaction cost savings</p>
                  </div>
                  <div class="control-plan__item">
                    <h2 class="title"><span class="odometer" data-count="25">0</span>%</h2>
                    <p>Higher conversion rate</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3">
                <div class="control-plan__right" data-aos="fade-left" data-aos-duration="900">

                  <div class="control-plan__right-icon icon-3">
                    <img class="dot-shape" src="assets/imgs/home-1/control-plan/dot-shape.png" alt="image">
                    <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                    <img class="line-3" src="assets/imgs/home-1/control-plan/line-3.png" alt="image">
                  </div>

                  <div class="control-plan__right-icon has--4">
                    <h2 class="title">We metioned your business on facebook</h2>
                    <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                    <img class="line-4" src="assets/imgs/home-1/control-plan/line-4.png" alt="image">
                  </div>
                </div>
              </div>
            </div>
            <div class="media" data-aos="fade-up" data-aos-duration="900">
              <img src="assets/imgs/home-1/control-plan/control-plan.png" alt="image ">
            </div>
          </div>
        </section>

        <!-- pricing__area start -->
        <section class="pricing rr-bg-gray section-spacing">
          <div class="container rr-container-1350">
            <div class="pricing__wrapper">
              <div class="pricing__card " data-aos="fade-right" data-aos-duration="900">
                <h3 class="pricing__card__title">Starter Plan</h3>
                <div class="pricing__card__price">
                  <h2 data-Monthly="<span>$49</span> <span>/per month</span>"
                    data-Annually="<span>$100</span> <span>/per yearly</span>">
                    <span>$49</span> <span>/per month</span>
                  </h2>
                </div>
                <div class="pricing__body">
                  <ul>
                    <li><span><i class="fa-solid fa-check"></i></span>Perfect for small businesses </li>
                    <li><span><i class="fa-solid fa-check"></i></span>2.5% + $0.30 per transaction </li>
                    <li><span><i class="fa-solid fa-check"></i></span>No setup fees </li>
                    <li><span><i class="fa-solid fa-check"></i></span>Basic support </li>
                    <li><span><i class="fa-solid fa-check"></i></span>Custom rates </li>
                  </ul>
                </div>
                <div class="pricing__price__btn">
                  <a href="contact.html" class="rr-btn-green">
                    <span class="btn-wrap">
                      <span class="text-one">Select This Plan</span>
                      <span class="text-two">Select This Plan</span>
                    </span>
                  </a>
                </div>
              </div>
              <div class="pricing__card" data-aos="fade-up" data-aos-duration="900">
                <h3 class="pricing__card__title">Growth Plan</h3>
                <div class="pricing__card__price ">
                  <h2 data-Monthly="<span>$49</span> <span>/per month</span>"
                    data-Annually="<span>$100</span> <span>/per yearly</span>">
                    <span>$49</span> <span>/per month</span>
                  </h2>
                </div>
                <div class="pricing__body">
                  <ul>
                    <li><span><i class="fa-solid fa-check"></i></span> Ideal for growing SMEs</li>
                    <li><span><i class="fa-solid fa-check"></i></span>2.0% + $0.25 per transaction</li>
                    <li><span><i class="fa-solid fa-check"></i></span>Advanced analytics</li>
                    <li><span><i class="fa-solid fa-check"></i></span>Priority support</li>
                    <li><span><i class="fa-solid fa-check"></i></span>Dedicated account manager</li>
                  </ul>
                </div>
                <div class="pricing__price__btn">
                  <a href="contact.html" class="rr-btn-green">
                    <span class="btn-wrap">
                      <span class="text-one">Select This Plan</span>
                      <span class="text-two">Select This Plan</span>
                    </span>
                  </a>
                </div>
              </div>
              <div class="pricing__content" data-aos="fade-left" data-aos-duration="900">
                <div class="section-title__wrapper">
                  <h2 class="sub-title">Pricing Plan</h2>
                  <h2 class="title rr-title-anim-1">Flexible Pricing for Every Business</h2>
                  <p class="desc">"Stackly Pay offers transparent, customizable pricing plans tailored to startups,
                    SMEs, and enterprises—ensuring affordability, scalability.</p>
                </div>
                <div class="pricing__toggle-button ">
                  <span class="pricing__toggler" id="Monthly">monthly</span>
                  <label class="pricing__toggle">
                    <input type="checkbox" id="checkbox" onclick="check()">
                    <span class="switcher toggle"></span>
                  </label>
                  <span class="pricing__toggler" id="Annually">yearly</span>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- pricing__area start -->

        <section class="testimonial">
          <div class="testimonial__inner section-spacing rr-pos-rel">
            <div class="shape-1"><img src="assets/imgs/home-1/testimonial/shape.png" alt="image"></div>
            <div class="container rr-container-1350">
              <div class="row">
                <div class="col-lg-5">
                  <div class="testimonial__content" data-aos="fade-right" data-aos-duration="900">
                    <div class="section-title__wrapper ">
                      <h2 class="sub-title has--green">Testimonials</h2>
                      <h2 class="title rr-title-anim-1">Why Businesses Love Stackly Pay</h2>
                    </div>

                    <div class="testimonial__author">
                      <ul>
                        <li><img src="assets/imgs/home-1/testimonial/author-1.jpg" alt="image"></li>
                        <li><img src="assets/imgs/home-1/testimonial/author-2.jpg" alt="image"></li>
                        <li><img src="assets/imgs/home-1/testimonial/author-3.jpg" alt="image"></li>
                        <li><i class="fa-solid fa-plus"></i></li>
                      </ul>

                      <h3 class="active">669k+ Active
                        users world-wide</h3>
                    </div>
                  </div>
                </div>
                <div class="col-lg-7" data-aos="fade-left" data-aos-duration="900">

                  <div class=" testimonial-slide__active" id="slideContainer">
                    <div class="arrow__wrapper">

                      <button class="arrow-btn prev" onclick="changeSlide(-1)">
                        <i class="fa-solid fa-angle-up"></i>
                      </button>

                      <button class="arrow-btn next" onclick="changeSlide(1)">
                        <i class="fa-solid fa-angle-down"></i>
                      </button>
                    </div>
                    <div class="testimonial__item" data-index="0">
                      <div class="logo"><img src="assets/imgs/home-1/testimonial/logo.png" alt="image"></div>
                      <p class="desc">“On the Windows talking painted pasture yet its express parties use. Sure last
                        upon he same as knew next. Of believed or diverted no.”</p>
                      <div class="testimonial__info">
                        <div class="testimonial__info__media">
                          <img src="assets/imgs/home-1/testimonial/author-4.jpg" alt="image">
                        </div>
                        <div class="testimonial__info__content">
                          <h2 class="title">Kevin Martin</h2>
                          <span class="sub-title">Web Designer</span>
                        </div>
                      </div>
                      <div class="shape"><img src="assets/imgs/home-1/testimonial/quite.png" alt="image"></div>
                    </div>
                    <div class="testimonial__item item-2" data-index="1">
                      <div class="logo"><img src="assets/imgs/home-1/testimonial/logo.png" alt="image"></div>
                      <p class="desc">“On the Windows talking painted pasture yet its express parties use. Sure last
                        upon he same as knew next. Of believed or diverted no.”</p>
                      <div class="testimonial__info">
                        <div class="testimonial__info__media">
                          <img src="assets/imgs/home-1/testimonial/author-4.jpg" alt="image">
                        </div>
                        <div class="testimonial__info__content">
                          <h2 class="title">Kevin Martin</h2>
                          <span class="sub-title">Web Designer</span>
                        </div>
                      </div>
                      <div class="shape"><img src="assets/imgs/home-1/testimonial/quite.png" alt="image"></div>
                    </div>
                    <div class="testimonial__item item-3" data-index="2">
                      <div class="logo"><img src="assets/imgs/home-1/testimonial/logo.png" alt="image"></div>
                      <p class="desc">“On the Windows talking painted pasture yet its express parties use. Sure last
                        upon he same as knew next. Of believed or diverted no.”</p>
                      <div class="testimonial__info">
                        <div class="testimonial__info__media">
                          <img src="assets/imgs/home-1/testimonial/author-4.jpg" alt="image">
                        </div>
                        <div class="testimonial__info__content">
                          <h2 class="title">Kevin Martin</h2>
                          <span class="sub-title">Web Designer</span>
                        </div>
                      </div>
                      <div class="shape"><img src="assets/imgs/home-1/testimonial/quite.png" alt="image"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="technology section-spacing">
          <div class="container rr-container-1350">
            <div class="row">
              <div class="col-lg-7" data-aos="fade-right" data-aos-duration="900">
                <div class="technology__card" data-background="assets/imgs/home-1/technology/bg.png">
                  <img class="shape-1" src="assets/imgs/home-1/technology/shape-1.png" alt="image">
                  <img class="shape-2" src="assets/imgs/home-1/technology/shape-2.png" alt="image">
                  <div class="section-title__wrapper ">
                    <h2 class="sub-title">Our Technology</h2>
                    <h2 class="title rr-title-anim-1 color-white">Advanced Technology, Smarter Payments</h2>
                    <p class="decs">Stackly Pay leverages cutting-edge technology to deliver faster, safer, and smarter
                      transactions,
                      ensuring businesses.</p>
                  </div>

                  <a href="contact.html" class="rr-btn-green">
                    <span class="btn-wrap">
                      <span class="text-one">get access now</span>
                      <span class="text-two">get access now</span>
                    </span>
                  </a>
                </div>
              </div>
              <div class="col-lg-5" data-aos="fade-left" data-aos-duration="900">
                <div class="technology__wrapper" data-background="assets/imgs/home-1/technology/bg-2.png">

                  <h2 class="title">Payment Gateway</h2>
                  <div class="client-capsule-wrapper-box" data-t-throwable-scene="true">
                    <div class="client-capsule-wrapper">
                      <p data-t-throwable-el="">
                        <span class="client-box ">
                          <img src="assets/imgs/home-1/technology/logo-1.png" alt="image">
                        </span>
                      </p>
                      <p data-t-throwable-el="">
                        <span class="client-box ">
                          <img src="assets/imgs/home-1/technology/logo-2.png" alt="image">
                        </span>
                      </p>
                      <p data-t-throwable-el="">
                        <span class="client-box ">
                          <img src="assets/imgs/home-1/technology/logo-3.png" alt="image">
                        </span>
                      </p>
                      <p data-t-throwable-el="">
                        <span class="client-box ">
                          <img src="assets/imgs/home-1/technology/logo-4.png" alt="image">
                        </span>
                      </p>
                      <p data-t-throwable-el="">
                        <span class="client-box ">
                          <img src="assets/imgs/home-1/technology/logo-5.png" alt="image">
                        </span>
                      </p>
                      <p data-t-throwable-el="">
                        <span class="client-box ">
                          <img src="assets/imgs/home-1/technology/logo-6.png" alt="image">
                        </span>
                      </p>
                      <p data-t-throwable-el="">
                        <span class="client-box ">
                          <img src="assets/imgs/home-1/technology/logo-7.png" alt="image">
                        </span>
                      </p>
                      <p data-t-throwable-el="">
                        <span class="client-box ">
                          <img src="assets/imgs/home-1/technology/logo-8.png" alt="image">
                        </span>
                      </p>
                      <p data-t-throwable-el="">
                        <span class="client-box ">
                          <img src="assets/imgs/home-1/technology/logo-9.png" alt="image">
                        </span>
                      </p>
                      <p data-t-throwable-el="">
                        <span class="client-box ">
                          <img src="assets/imgs/home-1/technology/logo-10.png" alt="image">
                        </span>
                      </p>
                      <p data-t-throwable-el="">
                        <span class="client-box ">
                          <img src="assets/imgs/home-1/technology/logo-11.png" alt="image">
                        </span>
                      </p>
                      <p data-t-throwable-el="">
                        <span class="client-box ">
                          <img src="assets/imgs/home-1/technology/logo-12.png" alt="image">
                        </span>
                      </p>
                      <p data-t-throwable-el="">
                        <span class="client-box ">
                          <img src="assets/imgs/home-1/technology/logo-13.png" alt="image">
                        </span>
                      </p>
                      <p data-t-throwable-el="">
                        <span class="client-box ">
                          <img src="assets/imgs/home-1/technology/logo-14.png" alt="image">
                        </span>
                      </p>
                      <p data-t-throwable-el="">
                        <span class="client-box ">
                          <img src="assets/imgs/home-1/technology/logo-15.png" alt="image">
                        </span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="faq rr-bg-gray section-spacing rr-ov-hidde">
          <div class="container rr-container-1350">
            <div class="row">
              <div class="col-lg-5">
                <div class="faq__content" data-aos="fade-right" data-aos-duration="500">
                  <div class="section-title__wrapper">
                    <h2 class="sub-title"><span><img src="assets/imgs/icon/massage.png" alt="image"></span>Support &
                      Help</h2>
                    <h2 class="title rr-title-anim-1">Got Questions? We’ve Got Answers</h2>
                    <p class="desc">Find straightforward answers to common questions about Stackly Pay—covering
                      security,
                      pricing, features, and setup—so your payment journey stays simple.</p>

                    <a href="contact.html" class="rr-btn-green">
                      <span class="btn-wrap">
                        <span class="text-one">CONTACT US</span>
                        <span class="text-two">CONTACT US</span>
                      </span>
                    </a>
                  </div>
                </div>
              </div>

              <div class="col-lg-7">
                <div class="accordion" id="accordionExample">
                  <div class="global-accordion-item" data-aos="fade-up" data-aos-duration="500">
                    <div class="global-accordion-header">
                      <div class="global-accordion-button collapsed style" data-bs-toggle="collapse" role="group"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <div class="question">
                          What is Stackly Pay and how does it work?
                        </div>
                      </div>
                    </div>
                    <div id="collapseOne" class="global-accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="global-accordion-body style">
                        <p>Stackly Pay is a secure payment gateway that enables businesses to accept online transactions
                          quickly, safely, and globally.</p>
                      </div>
                    </div>
                  </div>
                  <div class="global-accordion-item" data-aos="fade-up" data-aos-duration="600">
                    <div class="global-accordion-header">
                      <div class="global-accordion-button style" data-bs-toggle="collapse" role="group"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <div class="question">
                          Is Stackly Pay secure for online transactions?
                        </div>
                      </div>
                    </div>
                    <div id="collapseTwo" class="global-accordion-collapse collapse show"
                      data-bs-parent="#accordionExample">
                      <div class="global-accordion-body style">
                        <p>Stackly Pay is a secure payment gateway that enables businesses to accept online transactions
                          quickly, safely, and globally.</p>
                      </div>
                    </div>
                  </div>
                  <div class="global-accordion-item" data-aos="fade-up" data-aos-duration="700">
                    <div class="global-accordion-header">
                      <div class="global-accordion-button collapsed style" data-bs-toggle="collapse" role="group"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <div class="question">
                          Which payment methods are supported? </div>
                      </div>
                    </div>
                    <div id="collapseThree" class="global-accordion-collapse collapse"
                      data-bs-parent="#accordionExample">
                      <div class="global-accordion-body style">
                        <p>Stackly Pay is a secure payment gateway that enables businesses to accept online transactions
                          quickly, safely, and globally.</p>
                      </div>
                    </div>
                  </div>
                  <div class="global-accordion-item" data-aos="fade-up" data-aos-duration="800">
                    <div class="global-accordion-header">
                      <div class="global-accordion-button collapsed style" data-bs-toggle="collapse" role="group"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <div class="question">
                          Can I accept international payments?
                        </div>
                      </div>
                    </div>
                    <div id="collapseFour" class="global-accordion-collapse collapse"
                      data-bs-parent="#accordionExample">
                      <div class="global-accordion-body style">
                        <p>Stackly Pay is a secure payment gateway that enables businesses to accept online transactions
                          quickly, safely, and globally.</p>
                      </div>
                    </div>
                  </div>
                  <div class="global-accordion-item" data-aos="fade-up" data-aos-duration="900">
                    <div class="global-accordion-header">
                      <div class="global-accordion-button collapsed style" data-bs-toggle="collapse" role="group"
                        data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        <div class="question">
                          Are there any hidden fees?
                        </div>
                      </div>
                    </div>
                    <div id="collapseFive" class="global-accordion-collapse collapse"
                      data-bs-parent="#accordionExample">
                      <div class="global-accordion-body style">
                        <p>Stackly Pay is a secure payment gateway that enables businesses to accept online transactions
                          quickly, safely, and globally.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>


        <section class="blog section-spacing">
          <div class="container rr-container-1350">
            <div class="row">
              <div class="col-lg-5">
                <div class="blog__content" data-aos="fade-right" data-aos-duration="700">
                  <ul class="meta">
                    <li>getway</li>
                    <li><span>Jun 28, 2025</span></li>
                  </ul>
                  <div class="section-title__wrapper">
                    <h2 class="title rr-title-anim-1">The Future of Digital Payments Trends to Watch in 2025</h2>
                    <p class="desc">Discover how AI, blockchain, biometrics, and seamless cross-border transactions are
                      shaping the future of digital payments, driving innovation</p>

                    <a href="blog-details.html" class="rr-btn-green">
                      <span class="btn-wrap">
                        <span class="text-one">VIEW AERICAL</span>
                        <span class="text-two">VIEW AERICAL</span>
                      </span>
                    </a>
                  </div>
                </div>
                <div class="blog__item" data-aos="fade-up" data-aos-duration="1000">
                  <div class="media" data-aos="zoom-in" data-aos-duration="900">
                    <img src="assets/imgs/home-1/blog/blog-1.jpg" alt="image not fond">
                  </div>
                  <div class="content">
                    <ul class="meta-list">
                      <li>getway</li>
                      <li>Jun 28, 2025</li>
                    </ul>
                    <h2 class="title rr-title-anim-1"><a href="blog-details.html">The Role of AI in Modern Payment
                        Security</a></h2>
                  </div>
                </div>
              </div>
              <div class="col-lg-7">
                <div class="section-title__wrapper" data-aos="fade-left" data-aos-duration="500">
                  <h2 class="sub-title">Insights & Updates</h2>
                  <h2 class="title rr-title-anim-1">Stackly Pay Blog & Artical</h2>
                </div>
                <div class="blog__item" data-aos="fade-up" data-aos-duration="1200">
                  <div class="media" data-aos="zoom-in" data-aos-duration="900">
                    <img src="assets/imgs/home-1/blog/blog-2.jpg" alt="image not fond">
                  </div>
                  <div class="content">
                    <ul class="meta-list">
                      <li>getway</li>
                      <li>Jun 28, 2025</li>
                    </ul>
                    <h2 class="title rr-title-anim-1"><a href="blog-details.html">How to Choose the Right Payment
                        Gateway for <br> Your
                        Business</a>
                    </h2>
                    <a href="blog-details.html" class="rr-btn-green">
                      <span class="btn-wrap">
                        <span class="text-one">VIEW AERICAL</span>
                        <span class="text-two">VIEW AERICAL</span>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>


      </main>


      <footer class="footer p-relative">
        <div class="footer__bg-shape"></div>
        <div class="container rr-container-1350">
          <div class="row">
            <div class="col-lg-7">
              <div class="footer__widget">
                <div class="footer__social">
                  <ul>
                    <li><a href="https://www.facebook.com/" target="_blank">Facebook</a></li>
                    <li><a href="https://www.instagram.com/" target="_blank">Instagram</a></li>
                    <li><a href="https://www.instagram.com/" target="_blank">Instagram</a></li>
                    <li><a href="https://www.instagram.com/" target="_blank">Instagram</a></li>

                  </ul>
                </div>
                <div class="footer__contact">
                  <ul>
                    <li><a href="tel:+0235567894640">+0235 567-8946-40</a></li>
                    <li><a href="mailto:stacklyinfor@gmil.com">stacklyinfor@gmil.com</a></li>
                  </ul>
                </div>
                <div class="footer__menu">
                  <ul>
                    <li><a href="index.html">home</a></li>
                    <li><a href="about.html">about us</a></li>
                    <li><a href="#">pages</a></li>
                    <li><a href="service.html">SERVICES</a></li>
                    <li><a href="blog.html">blog</a></li>
                    <li><a href="contact.html">contact us</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="footer__info">
                <h2 class="footer__subtitle">Newsletter</h2>
                <h3 class="footer__title">Get The latest Ubdates</h3>
                <p class="footer__dec">"Subscribe to receive the latest news, product updates, and payment insights from
                  Stackly Pay—delivered straight to your
                  inbox."</p>
                <div class="footer__form">
                  <div class="footer__input">
                    <div class="icon">
                      <img src="assets/imgs/icon/icon-08.png" alt="icon not found">
                    </div>
                    <input type="text" placeholder="Enter Your Email">
                  </div>
                  <div class="footer__btn">
                    <button type="submit">subscribe now</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer__big-text">
          <h2>Payment Gateway</h2>
        </div>
        <div class="copyright">
          <div class="container rr-container-1350">
            <div class="copyright__wrap">
              <div class="copyright__text">
                <p class="text">Copyright © 2025 <a href="#">Stackly,</a>
                  All Rights Reserved.</p>
              </div>
              <div class="copyright__logo">
                <a href="index.html">
                  <img src="assets/imgs/logo/logo.svg" alt="logo not found">
                </a>
              </div>
              <div class="copyright__menu">
                <ul>
                  <li><a href="contact.html">Terms & Conditions</a></li>
                  <li><a href="contact.html">Privacy Policy</a></li>
                  <li><a href="contact.html">Contact Us</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </footer>

    </div>
  </div>


  <!-- Dependencies JS Files -->
  <script src="assets/vandor/jquery/jquery.js"></script>
  <script src="assets/vandor/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="assets/vandor/popup/jquery.magnific-popup.min.js"></script>
  <script src="assets/vandor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vandor/gsap/gsap.min.js"></script>
  <script src="assets/vandor/gsap/ScrollSmoother.min.js"></script>
  <script src="assets/vandor/gsap/ScrollTrigger.min.js"></script>
  <script src="assets/vandor/gsap/SplitText.min.js"></script>
  <script src="assets/vandor/gsap/SplitType.js"></script>
  <script src="assets/vandor/gsap/customEase.js"></script>
  <script src="assets/vandor/odometer/odometer.min.js"></script>
  <script src="assets/vandor/odometer/waypoints.min.js"></script>
  <script src="assets/vandor/menu/jquery.meanmenu.min.js"></script>
  <script src="assets/vandor/backtop/backToTop.js"></script>
  <script src="assets/vandor/nice-select/nice-select.js"></script>
  <script src="assets/vandor/animation/aos.js"></script>
  <script src="assets/vandor/gsap/throwable.js"></script>
  <script src="assets/vandor/gsap/matter.js"></script>
  <!-- Template Main JS File -->
  <script src="assets/vandor/common-js/common.js"></script>
  <script src="assets/js/main.js"></script>
</body>

</html>